<nav class="navbar navbar-dark" style="background-color: #3b5998;">
    <span class="navbar-brand mb-0 h1">
      <h3>
        <strong>facebook</strong>
      </h3>
    </span>
    <form>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Username">
        </div>
        <div class="col">
          <input type="password" class="form-control" placeholder="Password">
        </div>
        <button type="button" class="btn" style="background-color: #91aae0;">Ingresar</button>
      </div>
    </form>
  </nav>