<nav class="navbar navbar-dark" style="background-color: #3b5998;">
    <span class="navbar-brand mb-0 h1">
      <h3>
        <strong>facebook</strong>
      </h3>
    </span>

    {% if form.error %}
        <p class="alert alert-danger">
            Your username or password did not match. Please try again.
        </p>
    {% endif %}

    <form method="POST" action='{% url "users:login" %}'>
      {% csrf_token %}
      <div class="row"> 
        <div class="col">
          <input type="text" class="form-control" placeholder="Email" name="username">
        </div>
        <div class="col">
          <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
        <button type="submit" class="btn" style="background-color: #91aae0;">Ingresar</button>
      </div>
    </form>
  </nav>