{% extends  'base.html' %}

{% block head_content %}
    <title>Facebook</title>
{% endblock head_content %}


{% block container %}
    {% load static %}
    <main class="container-profile">
        <div class="profile">
            <div class="cover">
                <img src="{% static 'img/cover.jpg' %}" alt="" width="100%">
            </div>
            <div class="picture">
                {% if request.user.profile.picture %}
                    <img class="rounded-circle" src="{{ request.user.profile.picture.url }}"/>
                {% elif post.user.sex == 'hombre' %}
                    <img class="rounded-circle" src="{% static 'img/male.jpeg' %}" alt="{{ post.user.name }}">
                {% else %}
                    <img class="rounded-circle" src="{% static 'img/female.jpeg' %}" alt="{{ post.user.name }}">
                {% endif %}
            </div>
        </div>
        <div class="name">
            <br>
            <strong>
                <h3>{{ request.user.first_name }} {{ request.user.last_name }}</h3>
            </strong>
            <p>{{ request.user.profile.status }}</p>
            <hr>
        </div>
        <div class="info">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Publicaciones</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Información</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    {% for post in posts %}
                        <div class="row">
                            <div class="col-lg-8 offset-lg-2">
                                <br>
                                <div class="media">
                                {% if user.profile.picture %}
                                    <img class="mr-3 rounded-circle" src="{{ post.profile.picture.url }}" alt="{{ post.user.get_full_name }}" width="50px" height="50px">
                                {% elif post.user.sex == 'H' %}
                                    <img class="mr-3 rounded-circle" src="{% static 'img/male.jpeg' %}" alt="{{ post.user.get_full_name }}" width="50px" height="50px">
                                {% else %}
                                    <img class="mr-3 rounded-circle" src="{% static 'img/female.jpeg' %}" alt="{{ post.user.get_full_name }}" width="50px" height="50px">
                                {% endif %}

                        <div class="media-body">
                            <h4 class='mt-0'>{{ post.user.get_full_name }}</h4>
                            <small>
                                {{ post.timestamp }} ･ <img src="{% static 'img/world.png' %}" alt=" Posted" height="17" width="17">
                            </small>                   
                        </div>
                        </div>
                        <div class="content-post">
                            <br>
                            <p class="ml-1 mt-1">{{ post.content }}</p>
                        </div>
                        {% if post.photo %}
                            <img class="img-fluid mt-3 border rounded" src="{{ post.photo.url }}" alt="{{ post.content }}">
                        {% endif %}
                        <div class="reactions"><br>
                            <a href=""><strong>Like</strong></a> • <a href=""><strong>Comentar</strong></a> • <a href=""><strong>Compartir</strong></a>
                            <div class="counters">

                                <strong>10</strong> <img src="{% static 'img/like.png' %}" alt="like" height="20" width="20"> 
                                <strong>10</strong> <img src="{% static 'img/comment.png' %}" alt="comment" height="20" width="20">  
                                <strong>10</strong> <img src="{% static 'img/share.png' %}" alt="share" height="20" width="20"> 
                            </div>
                        </div> 
                        </div>
                        </div>
                        <br>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        <div class="col-lg8 offset-lg-2">
                            <br>
                            <table class="table">
                                <tbody>
                                  <tr>
                                    <td>Género:</td>
                                    <td>
                                        {% if user.profile.sex == 'H' %}
                                        Hombre   
                                        {% else %}
                                        Mujer
                                        {% endif %}
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                        Amigos:
                                    </td>
                                    <td>
                                        100 friends
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>Releción:</td>
                                    <td>
                                        {% if user.profile.relation == 'R' %} 
                                        En una relación  
                                        {% elif user.profile.relation == 'N' %} 
                                        Solter@
                                        {% elif user.profile.relation == 'D' %} 
                                        Es complicado
                                        {% else %}  
                                        Viud@        
                                        {% endif %}                            
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
                <!-- <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div> -->
            </div>
        </div>
    </main>
{% endblock container %}
    